# Build directory
/build

# Personal developer config
/config/config.local.json

# Logs directory
/logs

# NodeJS modules cache directory
/node_modules

# Sqlite database files
*.sqlite

# Secrets
/ormconfig.json
/secrets.txt
