# Environment file

# Environment name
DIABETIPS_ENV=prod

# These variables are referenced in the config and are deserialized with JSON.parse -> strings must be quoted
# OAuth JWT signature key
DIABETIPS_AUTH_TOKEN_KEY="-----BEGIN RSA PRIVATE KEY-----\n<...>\n-----END RSA PRIVATE KEY-----"

# Account portal URL
DIABETIPS_ACCOUNT_URL="https://account.diabetips.fr"

# AI server connection URL
DIABETIPS_AI_URL="http://host:port"

# Database server connection URL
DIABETIPS_DB_URL="mysql://user:pass@host:port/db_name"

# Mail server connection URL
DIABETIPS_MAIL_URL"=smtps://user:pass@host"
