# OAuth JWT signature key
DIABETIPS_AUTH_TOKEN_KEY=-----BEGIN RSA PRIVATE KEY-----\n<...>\n-----END RSA PRIVATE KEY-----

# Database server connection URL
DIABETIPS_DB_URL=mysql://user:pass@host:port/db_name

# Mail server connection URL
DIABETIPS_MAIL_URL=smtps://user:pass@host
