p Bonjour,
p Vous venez de demandez la réinitialisation du mot de passe de connexion de votre compte Diabetips.
p
    | Voici votre mot de passe de connexion temporaire&nbsp;
    br
    | <i>#{password}</i>
p Changez le dès que possible&nbsp;!
p Si vous n'êtes pas à l'origine de ce changement, veuillez immédiatement contacter notre support pour annuler cette modification.
p À bientôt&nbsp;!
p L'Équipe Diabetips
