p Bonjour,
p
    | L'adresse email de connexion de votre compte Diabetips a bien été changée.
    br
    | <strong>Votre ancienne adresse email&nbsp;:</strong> #{oldEmail}
    br
    | <strong>Votre nouvelle adresse email&nbsp;:</strong> #{newEmail}
p Si vous n'êtes pas à l'origine de ce changement, veuillez immédiatement contacter notre support pour annuler cette modification.
p À bientôt&nbsp;!
p L'Équipe Diabetips
