p Bonjour,
p Conformément à votre demande, votre compte a bien été désactivé.
p Si vous n'êtes pas à l'origine de cette demande ou si vous changez d'avis, veuillez contacter notre support pour réactiver votre compte.
p À bientôt&nbsp;!
p L'Équipe Diabetips
