p Bonjour,
p Nous sommes heureux de vous accueillir sur Diabetips.
p
    | Votre compte a bien été créé&nbsp;! Vos informations de connexion sont les suivantes&nbsp;:
    br
    | <strong>Adresse email&nbsp;:</strong> #{email}
    br
    | <strong>Mot de passe&nbsp;:</strong> celui que vous avez choisi à la création du compte
p À bientôt&nbsp;!
p L'Équipe Diabetips
