p Bonjour,
p #{first_name} #{last_name} vous a invité à rejoindre Diabetips.
p
    a(href="https://account.diabetips.fr/register") Cliquez-ici pour créer votre compte dès maintenant&nbsp;!
p À bientôt&nbsp;!
p L'Équipe Diabetips
