extends template
include template-paragraph

block body
    each paragraph in intro_text
        +p
            | #{paragraph}
    +p
        | #{password_text}
        br
        strong #{password}
    each paragraph in outro_text
        +p
            | #{paragraph}
