extends template
include template-button
include template-paragraph

block body
    +ps(intro_text)
    +p
        | #{reset_text}
        +button(reset_link + "?code=" + code, reset_button)
    +ps(outro_text)
